/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    height: 100vh;
    justify-content: center;

} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    min-height: calc(100vh - 75px); 
    justify-content: center;
    /* overflow-y: auto;  */
  }
  

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.mat-form-field {
    flex-basis: calc(33.33% - 16px);
}

button {
    margin-left: 10px;
    padding: 25px;
}


.button-container {
    float: left;
}

.student-form {
    align-self: center;
}

.full-width-checkbox {
    width: 100%;
}


.card-container {
    display: inline-block;
    margin-top: 15px;
}

.image-container {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

.card {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.add-button {
    margin-left: 20px;
}
