<div class="container">
    <!-- Button to toggle add student section -->

    <button mat-raised-button color="primary" class="add-button" (click)="toggleAddStudent(true)">ADD +</button>

    <div [@slideInOut]="addStudentVisible">
        <mat-toolbar class="center-text">
            <span>Add New Event</span>
        </mat-toolbar>
        <!-- Student registration form using Angular Material -->
        <form class="student-form" (ngSubmit)="addEvent()">
            <mat-card class="layout-padding">
                <mat-card-content>
                    <div class="form-row">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Title</mat-label>
                            <input matInput [(ngModel)]="newEvenet.title" name="title" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Discription</mat-label>
                            <input matInput  [(ngModel)]="newEvenet.discription" name="discription" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Location</mat-label>
                            <input matInput [(ngModel)]="newEvenet.location" name="location" required>
                        </mat-form-field>
                        
                    </div>
                    <div class="form-row">
                        <!-- <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Start Date</mat-label>
                            <input matInput type="date" [(ngModel)]="newEvenet.start_date" name="start_date" required>
                        </mat-form-field> -->

                        <mat-form-field appearance="fill" style="width: 40%;">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="newEvenet.start_date" name="start_date" required>
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                          </mat-form-field>
                          
                          <mat-form-field appearance="fill" style="width: 20%; margin-left: 10px;">
                            <mat-label>Start Time</mat-label>
                            <input matInput type="time" [(ngModel)]="newEvenet.start_time" name="start_time" required>
                          </mat-form-field>
                          
                          <mat-form-field appearance="fill" style="width: 20%; margin-left: 10px;">
                            <mat-label>Time Format</mat-label>
                            <mat-select  name="time_format">
                              <mat-option value="AM">AM</mat-option>
                              <mat-option value="PM">PM</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" style="width: 40%;">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="newEvenet.end_date" name="start_date" required>
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                          </mat-form-field>
                          
                          <mat-form-field appearance="fill" style="width: 20%; margin-left: 10px;">
                            <mat-label>End Time</mat-label>
                            <input matInput type="time" [(ngModel)]="newEvenet.end_time" name="start_time" required>
                          </mat-form-field>
                          
                          <mat-form-field appearance="fill" style="width: 20%; margin-left: 10px;">
                            <mat-label>Time Format</mat-label>
                            <mat-select  name="time_format">
                              <mat-option value="AM">AM</mat-option>
                              <mat-option value="PM">PM</mat-option>
                            </mat-select>
                        </mat-form-field>                       

                        <button mat-raised-button type="submit" >Add Event</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>

    </div>



    <div  class="table-container mat-elevation-z8">
        <h2>Events</h2>
        <mat-table [dataSource]="dataSource">
            <!-- Define table columns -->
            <ng-container matColumnDef="Title">
                <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Discription">
                <mat-header-cell *matHeaderCellDef>Discription</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.discription }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Location">
                <mat-header-cell *matHeaderCellDef>location</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.location }}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="Start Date">
                <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.start_date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="End Date">
                <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.start_date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let row">

                    <button mat-icon-button color="primary" (click)="editEvent(row)">
                        <mat-icon>edit</mat-icon>
                    </button> 

                    <button mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button> 

                </mat-cell>
            </ng-container>


            <!-- Table rows -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="customPageSizeOptions" [pageSize]="defaultPageSize" [length]="totalRecords"
            (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
    </div>

</div>