<div class="nav-container">
    <div class="top-nav">
      <div class="logos">
        <img class="logo" src="assets/images/kick karate.jpeg" alt="Karate Kick">
      </div>
      <button class="logout" (click)="logout()">Logout</button>
    </div>
    <div class="sidenav">
      <ul>
        <li (click)="addEvent()">Events</li> 
        <li (click)="addstudent()">Students </li>
        <li (click)="viewbranches()" > Branches</li>
      </ul>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
  </div>
  