/* Resetting default margin and padding */
.nav-container,
.sidenav,
.main-content {
  margin: 0;
  padding: 0;
}

/* Navigation container */
.nav-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Top navigation */
/* .top-nav {
 top: 0;
 right: 0;
 left:0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
} */

.top-nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
  padding: 3px;
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

button {
    background-color: #007bff; /* Light blue */
    color: #fff; /* White color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  

/* 
.logout-btn {
  background-color: #4396ee;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #05407f;
} */

/* Side navigation */
.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 80px;
  border-right: 2px solid #ccc; 
}

.sidenav ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

.sidenav ul li {
  padding: 10px 20px; 
  margin-top: 10px;
  width: 100%;
  font-weight: 400;
  font-size: larger;
  color: black;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  text-align: center;
}



/* Main content */

.sidenav li:hover {
    color: #010100a4; /* Change the color on hover */
    background-color: #fff;
    box-shadow: #fff;
    border-radius: 10px;
    margin-right: 10px;
  }

  .logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: #fff solid;
    left: 0;
  }

  .logout{
    right: 0px;
  }

  .logos{
    display: flex;
    align-items: center;
  }
